# Mac OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vim swap files
.*.sw?

# PhpStorm
.idea

# Visual Studio Code
.vscode

# Sublime Text
*.sublime-project

# Node
npm-debug.log
yarn-error.log

# PHPUnit
.phpunit-watcher-cache.php
.phpunit.result.cache

